In [1]:
import pandas as pd
import yaml

In [7]:

with open("configs/cars.yaml", "r") as file:
        confs = yaml.safe_load(file)
        cars = dict()
        for conf in confs:
            cars[conf['type']] = conf
        cars = pd.DataFrame(cars)

In [8]:
cars

,civic,mercedes,r34,supra,traffic1,traffic3
type,civic,mercedes,r34,supra,traffic1,traffic3
length,100,100,100,100,100,100
width,70,70,70,70,70,70
image,civic.png,civic.png,r34.png,supra.png,traffic_car2.png,traffic_car3.png